{% extends 'base.html' %}

{% block title %}Профиль - Auth Test HW{% endblock %}

{% block content %}
<h1>Профиль пользователя</h1>
<div class="profile-info">
    <p>
        <strong>Имя пользователя:</strong>
        <span>{{ user.username }}</span>
    </p>
    <p>
        <strong>Email:</strong>
        <span>{{ user.email|default:"Не указан" }}</span>
    </p>
    <p>
        <strong>Номер телефона:</strong>
        <span>{{ user.phone_number|default:"Не указан" }}</span>
    </p>
    <p>
        <strong>Дата регистрации:</strong>
        <span>{{ user.date_joined|date:"d.m.Y H:i" }}</span>
    </p>
</div>
{% endblock %}

